In [ ]:
# 1. Write an SQL query to display the names and salaries of employees 
# whose salary is greater than the average salary in the company. 
# Explain how the subquery works. 
# Ans.

# SELECT name, salary 
# FROM employees 
# WHERE salary > (SELECT AVG(salary) FROM employees);

# Here subquery run and result comes average of salary

In [ ]:
# 2. Write a query to retrieve the top 5 highest-paid employees from an 
# employees table. 
# Explain how sorting affects the output. 


# SELECT * FROM employees 
# ORDER BY salary DESC 
# LIMIT 5;

In [ ]:
# 3. Write a query to calculate: 
# • Total number of employees 
# • Average salary 
# • Minimum and maximum salary 
# Explain the difference between aggregate and scalar functions. 


# SELECT 
#     COUNT(*) AS total_employees, 
#     AVG(salary) AS average_salary, 
#     MIN(salary) AS min_salary, 
#     MAX(salary) AS max_salary 
# FROM employees;

# aggeregate:-apply on set of row of data

# scalar:- apply on individual of data

In [ ]:
# 4. Given a sales table with columns (region, amount), write a query to find 
# total sales per region. 
# Filter only those regions where total sales exceed 50,000. 

# SELECT region, SUM(amount) AS total_sales
# FROM sales
# GROUP BY region
# HAVING SUM(amount) > 50000;

In [ ]:
# 5. Write a query to find the number of unique job roles in an employees 
# table. 
# Explain why DISTINCT is necessary here. 


# SELECT COUNT(DISTINCT job_role) 
# FROM employees;

# DISTINCT removes duplicates .

In [ ]:
# 6. Write a query to retrieve students who scored between 60 and 80 
# marks. 
# Rewrite the same query using BETWEEN

# SELECT * FROM students WHERE marks BETWEEN 60 AND 80;

In [ ]:
# 7. Write a query to display employees whose commission is NULL. 
# Explain the correct way to check NULL values in SQL.

# SELECT * FROM employees WHERE commission IS NULL;

In [ ]:
# 8. Write a query to increase the salary of employees in the “IT” 
# department by 10%. 
# Explain how arithmetic operations are handled in SQL.


# UPDATE employees 
# SET salary = salary * 1.10 
# WHERE department = 'IT';

In [ ]:
# 9. Write a query to delete records of students who scored less than 40 
# marks. 
# What precaution should be taken before executing DELETE? 

# DELETE FROM students WHERE marks < 40;

# Once a DELETE is committed in many environments, it is difficult or impossible to undo without backup

In [ ]:
# 10.Write a query to find employees who earn more than the average 
# salary of their department (without using joins). 
# Explain the logic of the subquery


# SELECT name, salary, department
# FROM employees e1
# WHERE salary > (
#     SELECT AVG(salary) 
#     FROM employees e2 
#     WHERE e1.department = e2.department
# );